!!! 5
html
  head
    title TakumiBaba.com
    script(type="text/javascript", src="/libs/jquery.min.js")
  body
    #header
    #content
      input
      button return
    #footer
  != js("babascript")