!!! 5
html
  head
    title TakumiBaba.com
    script(type="text/javascript", src="/libs/jquery.min.js")
  body
    #header
    #content
      div#map_canvas(style="width: 100%; height: 100%")
    #footer
  script(type="text/javscript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwgEbyuLpznYZgpX6pznLoJnLwfY_lXWo&sensor=true")
  != js('geo')